@import './var';

form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  input{
    padding: 1.5em 2em;
    margin: 1em 0;
    min-width: 350px;
    max-width: 350px;
    width: 350px;
    border-radius: 100px;
    background: rgba(0,0,0,0.08);
    &[type='submit']{
      background-color: $secondary_color;
      font-weight: 500;
    }
  }
}